.MuiDataGrid-columnHeaderTitleContainer {
   color: #6E7F8C !important;
   font-style: normal !important;
   font-weight: 500 !important;
   font-size: 16px !important;
   line-height: 150% !important;
   white-space: nowrap !important;
}
.tablereagister{
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        width: 100%;
}