.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
         border: 1px solid #00006A;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 600;
         font-size: 16px;
         line-height: 10px;
         display: flex;
         align-items: center;
         color: #545557;

}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
padding: 13px 13px;
}